---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx-deployment-app
    author: maruti
spec:
  replicas: 3
  selector: 
    matchLabels:
      app: nginx-app
  template:
    metadata:
      name: nginx-pod
      labels:
        app: nginx-app
    spec:
      containers:
        - name: my-nginx-container
          image: nginx
          ports:
            - containerPort: 80
              hostPort: 8087
...
